{% extends 'base.html.twig' %}
{% block body %}
    <ul>
        <li><a href="#">youtube</a></li>
        <li><a href="#">twitter</a></li>
        <li><a href="#">instagram</a></li>
        <li><a href="#">linkedin</a></li>
    </ul>
{% endblock %}